@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeSpeed; // tối ưu tải font chữ trên mạng nhanh nhất
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border: 5px solid #000;
}

img.b-white {
  border: 5px solid #fff;
}