.header {
    min-height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../utils/img/menu-img.jpg);
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 84px;
}